<html>
<head>
    <meta charset="utf-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="banner bg3">
        <div class="navbar">
             <a href="juega.html"><img src="logo.png" class="logo"></a>
            <ul>
                <li><a href="index.html">Iniciar Sesión</a></li>
                <li><a href="juega.html">Jugar</a></li>
                <li><a href="steam.html">STEAM</a></li>
            </ul>
        </div>

        <div class="row">
        <div class="col2">
           <center>
            <div class="cardlog">
                <div class="inner-box" id="cardlog">
                <div class="card-front">
                    <h5>LOGIN</h5>
                    <br>
                    <form>
                        <input type="email" class="input-box" placeholder="Correo electrónico" required>
                        <input type="password" class="input-box" placeholder="Contraseña" required>
                        <a href="">Olvidé la contraseña</a>
                        <button type="submit" class="submit-btn">Submit</button>
                        <input type="checkbox"><span>Recuérdame</span>
                    </form>
                    <br>
                    <button type="button" class="btn" onclick="openRegister()">Registrarse</button>
                    
                </div>
                <div class="card-back"> 
                 <h5>REGISTRO</h5>
                    <br>
                    <form>
                       <input type="text" class="input-box" placeholder="Nombre" required>
                       <input type="text" class="input-box" placeholder="Apellido" required>
                       <input type="date" class="input-box" placeholder="fecha de nacimiento" required>
                        <input type="email" class="input-box" placeholder="Correo electrónico" required>
                        <input type="password" class="input-box" placeholder="Contraseña" required>
                        <button type="submit" class="submit-btn">Submit</button>
                    </form>
                    <button type="button" class="btn" onclick="openLogin()">Ya tengo cuenta</button>  
                </div>
                </div>
            </div>
            </center>
        </div>
                
</div>
    
    </div>
    <script>
    var cardlog = document.getElementById("cardlog");
        
    function openRegister(){
        cardlog.style.transform = "rotateY(-180deg)"; 
    }
    function openLogin(){
        cardlog.style.transform = "rotateY(0deg)"; 
    }
    </script>
</body>
</html>
