<html>
<head>
    <meta charset="utf-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzlevid</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="banner">
        <div class="navbar">
             <a href="juega.html"><img src="logo.png" class="logo"></a>
            <ul>
                <li><a href="index.html">Iniciar Sesión</a></li>
                <li><a href="juega.html">Jugar</a></li>
                <li><a href="steam.html">STEAM</a></li>
            </ul>
        </div>

        <div class="row">
        <div class="col">
            <h1>Puzzlevid-19</h1>
            <p> En un futuro no tan lejano la humanidad se ve amenzada por un virus totalmente nuevo, adentrate en este mundo futurista para ayudar a encontrar la cura a este misterioso virus y así salvar a todos. Para conseguirlo necesitarás superar distintas pruebas que requeriaran de tus habilidades como científico.</p>
            </div>
            <div class="col1"></div>
        <div class="col">
           <center>
            <a href="exe.zip" download="Puzzlevid.zip" ><div class="card card1">
                <h5> Juega</h5>
                <p1> Descarga el ejecutable para jugar</p1>
            </div></a>
            </center>
            </div>
    
        
</div>

    
    </div>
</body>
</html>
