<html>
<head>
    <meta charset="utf-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="banner bg2">
        <div class="navbar">
             <a href="juega.html"><img src="logo.png" class="logo"></a>
            <ul>
                <li><a href="index.html">Iniciar Sesión</a></li>
                <li><a href="juega.html">Jugar</a></li>
                <li><a href="steam.html">STEAM</a></li>
            </ul>
        </div>
        <div class="row4">
            
        </div>
        <div class="row3">
            <h1>STEAM</h1>
        </div>
        <div class="row4">
            
        </div>
        <div class="row2">
            <div class="cardinfo">
              <center><img src="steam.png"></center>
              <h4>¿Qué es STEAM?</h4>
              <br>
               <p>STEM es una tendencia mundial que promueve la enseñanza de Ciencias, Tecnología, Ingeniería y Matemáticas (por sus siglas en inglés) como pilares para el desarrollo sostenible y bienestar social. Ahora se ha incorporado la A (de arte) para hacer evidente la presencia del pensamiento creativo y del desarrollo de las habilidades socioemocionales: STEAM. </p> </div>
              <div class="cardinfo">
              <center><img src="impacto.png"></center>
              <h4>Impacto del movimiento</h4>
              <br>
               <p>Movimiento STEAM es una asociación sin fines de lucro que está liderando un movimiento regional que impulsa la Educación y el talento STEAM, los empleos del futuro y la innovación, con visión social e incluyente.</p> </div>
               <div class="cardinfo">
              <center><img src="mujeres.png"></center>
              <h4>Mujeres</h4>
              <br>
               <p>Según datos de la OCDE, sólo el 9% de las niñas mexicanas piensan elegir carreras STEM (Ciencias, Tecnología, Ingeniería y Matemáticas por sus siglas en inglés), en comparación con 28% de los niños. ¿Qué podemos hacer para que las niñas, adolescentes y jóvenes también se visualicen como profesionales en STEM?¡Impulsarlas y apoyarlas es indispensable! </p> </div>
        </div>
                
</div>
    
   
  
</body>
</html>